@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

:root {

    --black: #161616;
    --gray-900: #363A44;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 14px !important;
    color: var(--primary);
    font-weight: bold;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:active {
    background-color: var(--primary) !important;
    border-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:active {
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link {
    color: var(--primary);
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon {
    color: var(--primary);
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    background-color: var(--primary);
}

.btn-auth {
    border-radius: 20px;
    padding: 0.5rem 2rem;
}

.btn-auth.register:hover {
    background-color: #E76D0F;
    border-color: #E76D0F;
}

.btn-auth.register:active {
    background-color: #E76D0F !important;
    border-color: #E76D0F !important;
}

.btn-auth.login {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-auth.login:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}

.section-heading {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-campaign {
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    top: 0px;
    width: 270px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all ease 0.3s;
}

.card-campaign:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.card-campaign .card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black);
}

.card-campaign .amount {
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary);
}

p {
    color: #667085;
    font-weight: 500;
    font-size: 0.80rem;
    margin-bottom: 0px !important;
}

.progress {
    height: 5px !important;
    --bs-progress-bar-bg: var(--primary);
}

.campaign-container {
    cursor: grab;
    user-select: none;
    overflow-x: scroll !important;
    overflow-y: unset;
}


.campaign-container::-webkit-scrollbar {
    width: 0;
}

.card-feature {
    border: none;
    padding: 1rem;
    transition: all 0.3s ease;
}

.card-feature img {
    width: 50px;
}

.card-feature h1 {
    font-size: 1.25rem;
    color: var(--black);
    font-weight: 600;
    margin-top: 1rem;
}

.card-feature a {
    color: var(--primary);
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 1rem;
}

.card-feature a::after {
    content: "->";
    margin-left: 5px;
    transition: all 0.3s ease;
}

.card-feature a:hover::after {
    content: "->";
    margin-left: 10px;
    transition: all 0.3s ease;
}

.card-feature {
    cursor: pointer;
}

.card-feature:hover {
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

@media(min-width: 1024px) {
    .card-feature:hover {
        transform: scale(1.1);
    }
}

@media(max-width: 768px) {
    .card-feature {
        box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
        margin-bottom: 1rem;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .section-heading {
        font-size: 1.25rem !important;
    }

    .card-feature {
        box-shadow: none !important;
        padding: 0px !important;
    }

    .card-feature h1 {
        font-size: 1rem !important;
        font-weight: normal;
    }
}

.nav-mobile {
    background-color: #FFF;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px -4px 6px -2px rgba(16, 24, 40, 0.03), 0px -12px 16px -4px rgba(16, 24, 40, 0.08);
    justify-content: space-between;
    gap: -50px !important;
    border-radius: 1rem !important;
}

.nav-mobile a {
    display: flex;
    flex-direction: column;
    color: var(--primary);
    text-decoration: none;
    align-items: center;
    font-size: 0.55rem;
}

.nav-mobile a img {
    width: 30px;
}

.floating-button-container {
    position: fixed;
    bottom: 35px;
    /* Sesuaikan dengan posisi vertikal yang diinginkan */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: white !important;
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 1050;
}

.floating-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--primary);
    /* Warna progres */
    animation: progressAnimation .5s ease-in-out;
    /* Durasi animasi dan jenis kurva timing */
}

@keyframes progressAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 25%;
        /* Sesuaikan dengan persentase yang diinginkan */
    }
}

.banner-cta {
    border: none;
    background-color: #F6F7F9;
}

.banner-cta h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

@media (max-width: 768px) {
    .banner-cta {
        position: relative;
    }

    .banner-cta h1 {
        font-size: 1rem;
    }

    .banner-cta img {
        width: 120px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.card-zakat {
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-zakat .card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black);
}

.card-zakat .amount {
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary);
}


@media(max-width: 768px) {
    .card-zakat {
        width: 270px !important;
    }


}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-user {
    border: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: 300px;
    z-index: 999;
}

.line {
    border-top: 1px solid #bfc0c0;

}

.modal-user ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-user ul li {
    cursor: pointer;
}

.modal-user ul li a {
    text-decoration: none;
    color: #344054;
    font-size: 1rem;
    font-weight: 500;
}

.modal-user ul li a:hover {
    color: var(--primary);
}

/* responsive tablet */
@media (max-width: 992px) {
    .modal-user {
        left: 0 !important;
    }
}

.form-search {
    background-color: #F6F7F9;
    border-radius: 1rem;
    padding: .5rem 1rem !important;
    border: 1px solid #E4E4E4;
}

.form-search input {
    border: none;
    background-color: #F6F7F9;
    outline: none;
}

.form-search:focus {
    border: none;
    background-color: #F6F7F9;
    outline: none;
    box-shadow: 0 0 0 0.25rem #f68f2751;
}

.form-search:focus-visible {
    border: none;
    background-color: #F6F7F9;
    outline: none;
    box-shadow: 0 0 0 0.25rem #f68f2751;
}

.modal-user .name {
    color: #344054;
    font-weight: 600;
}

.dropdown-category {
    border: 1px solid rgba(234, 236, 240, 1);
}

.dropdown-category .info {
    margin-left: 1rem;
}

.dropdown-category .info h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray-900);
}

.dropdown-category .info p {
    font-size: 0.8rem;
    font-weight: 400;
}


.dropdown-category .dropdown-item img {
    width: 40px;
    height: 40px;
}

.dropdown-category .dropdown-item:hover,
.dropdown-category .dropdown-item:focus {
    background-color: #F6F7F9;
}

.about-item .information {
    margin-left: 1rem;
}

.about-item .information h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-900);
}

.about-item .information p {
    font-size: 1rem;
    font-weight: 400;
}

.orange-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #e76d0f35;
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: 999;
    filter: blur(100px);
}

.about-section {
    overflow-x: hidden;
}

.about-item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about-item:hover {
    padding: 1rem;
    background-color: #F6F7F9;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    transition: all 0.3s ease-in-out;
}

.information-amount h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-900);
}

.information-amount .line {
    margin-top: 1rem;
    border: 2px solid rgba(246, 143, 39, 1);
}

.post-thumbnail {
    max-height: 200px;
}

.post-thumbnail a {
    display: block;
    height: 200px;
    text-indent: -9999px;
    background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.navbar-brand img {
    width: 65px;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 60px;
    }
}

.page-header {
    background-color: #F6F7F9;
    padding: 5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.page-header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

.page-header p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-900);
}

.img-gallery {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primary) !important;
}

.card-news {
    background-color: #F9FAFB;
    border: none;
    border-radius: .5rem;
    min-height: 400px !important;
}

.card-news .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.card-news .card-img-top {
    height: 200px;
    object-fit: cover;
}
